/* style questionaire and create a card */
* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    background-color: #101E2F;
}

img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #BD1115;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
    max-width: 75%;
    background-color: #fc9;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 0px #b74d4f;
}

#question {
    padding: 1em;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    background-color: #255959;
    color: white;
}

.controls button {
    background-color: #D0B847;
    border-radius: 10px;
    padding: 5px;
}